@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Sriracha&display=swap');

:root {
    --font1:Verdana, Geneva, Tahoma, sans-serif;
    --font2:'Open Sans', sans-serif;
    --font3:'Sriracha', cursive; 
}

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: white;
    font-family: var(--font2);
    
}

header {
    background-color: black;
    color: white;
    margin: auto;
    padding: 10px;
    text-align: center;
}

header > h1 {
    font-variant: small-caps;
    padding-top: 50px;
    font-family:var(--font3);
    font-size: 7vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    background-color: rgb(63, 62, 62);
    padding: 2px;
}

section {
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: var(--font3);
    font-size: 2.5vw;
    padding-left: 30px; 
}

section > p {
    text-align: left;
    font-size: 1.5em;
    padding-bottom: 2em;
}

#section2 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.349);

}

#section2 > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.246);
    color: white;
    padding: 5px;
}

#section4 {
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.349);
}

#section4 > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.246);
    color: white;
    padding: 5px;
}
footer {
    background-color: black;
    padding: 5px;
    color: white;
    text-align: center;
}